@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rye&family=Yatra+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Monster Mech';
    src:  url("https://falak.mitblrfest.in/fonts/MonsterMech.ttf") format('truetype');
}

.font-monster{
    font-family: 'Monster Mech';
    letter-spacing: 1px;
}

.font-monster::placeholder{
    font-family: 'Monster Mech';
    letter-spacing: 1px;
}

.Text-Gradient{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



html {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    overflow-x: hidden;
    font-family:  'Poppins', sans-serif;
}
  
html::-webkit-scrollbar {
    background: #3300BD;
    display: none; /* for Chrome, Safari, and Opera */
}

body{
    background: #3300BD;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

.fadeinonload{
    animation-name: FadeIn;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forward;	
}

.rotateinOnLoad1{
    transform-origin: center;
    transform-box: fill-box;
    animation-name: rotIn1;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forward;
}
.rotateinOnLoad2{
    transform-origin: center;
    transform-box: fill-box;
    animation-name: rotIn2;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forward;
}
.rotateinOnLoad3{
    transform-origin: center;
    transform-box: fill-box;
    animation-name: rotIn3;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forward;
}
.rotateinOnLoad4{
    transform-origin: center;
    transform-box: fill-box;
    animation-name: rotIn4;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forward;
}



@keyframes FadeIn {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes rotIn1 {
    0%{
        transform: rotate(-100deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotIn2 {
    0%{
        transform: rotate(200deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotIn3 {
    0%{
        transform: rotate(-500deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotIn4 {
    0%{
        transform: rotate(400deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.hide{
        animation: hideAnim 250ms forwards ease-in-out;
}

.show{
    animation: 250ms ease-out 0s 1 showAnim;
}

@keyframes  hideAnim{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.fadeOut{
        animation: fadeOutAnim 0.5s forwards ease;
        pointer-events: none;
    }

    @keyframes fadeOutAnim{
        0%{
            opacity: 100%;
        }
        100%{
            opacity: 0;
        } 
    }

@keyframes  showAnim{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}


.backgroundpan {
    background-size: 200%;
    animation: backgroundpanAnim 1500ms linear infinite;
}

@keyframes backgroundpanAnim{
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
}

.slowRotateClockwise{
    transform-origin: center;
    transform-box: fill-box;
    animation:clockwiserotateslow 40000ms linear infinite

}


.slowerRotateClockwise{
    transform-origin: center;
    transform-box: fill-box;
    animation:clockwiserotateslow 60000ms linear infinite

}

@keyframes clockwiserotateslow{
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
        transform:rotate(360deg)
    }
}

.slowRotateAntiClockwise{
    transform-origin: center;
    transform-box: fill-box;
    animation:anticlockwiserotateslow 60000ms linear infinite

}

.slowerRotateAntiClockwise{
    transform-origin: center;
    transform-box: fill-box;
    animation:anticlockwiserotateslow 80000ms linear infinite

}

@keyframes anticlockwiserotateslow{
    0%{
        transform:rotate(-0deg);
    }
    50%{
        transform:rotate(-180deg);
    }
    100%{
        transform:rotate(-360deg)
    }
}

.wavy{
        height: 2px;
        width: 2px;
        z-index: -1;
        

    }

    .waves div{
        position: relative;
        animation: wave 5s infinite;
        animation-timing-function: ease-in-out;
        animation-delay: calc(var(--i)*100ms);
    }
   
    @keyframes wave{
        0%{
            transform: translateY(0vw);
            background-color: rgb(241, 123, 45);

            
        }
        50%{
            transform: translateY(-30vw);
            background-color: rgb(68, 211, 227);
        }
        100%{
            transform: translateY(0vw);
            background-color: rgb(241, 123, 45);
        }
    }
    

    .bg-anim{
	background: linear-gradient(-45deg, #1a0903,  #18042c, #2e0c19, #16031f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* ------------------------ FALAK CSS (NEW) ------------------------ */
.blurinmenubkd{
    animation-name: blurin;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.menumoveinleft{
    animation-name: moveinfromleft;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}


.menumoveoutleft{
    animation-name: moveoutfromleft;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.bluroutmenubkd{
    animation-name: blurout;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes blurin {
    0%{
        backdrop-filter: blur(0px);
    }
    100%{
        backdrop-filter: blur(12px);
    }
}

@keyframes blurout {
    100%{
        backdrop-filter: blur(0px);
    }
    0%{
        backdrop-filter: blur(12px);
    }
}

@keyframes moveinfromleft{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes moveoutfromleft{
    100%{
        transform: translateX(-100%);
    }

    0%{
        transform: translateX(0%);
    }
}