@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rye&family=Yatra+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Monster Mech';
    src:  url("https://falak.mitblrfest.in/fonts/MonsterMech.ttf") format('truetype');
}

@font-face{
    font-family: 'Uni Sans';
    src:  url("https://falak.mitblrfest.in/fonts/UniSansHeavy.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Uni Sans';
    src:  url("https://falak.mitblrfest.in/fonts/UniSansHeavyItalic.otf") format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face{
    font-family: 'Uni Sans';
    src:  url("https://falak.mitblrfest.in/fonts/UniSansThin.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Uni Sans';
    src:  url("https://falak.mitblrfest.in/fonts/UniSansThinItalic.otf") format('opentype');
    font-style: italic;
    font-weight: normal;
}

.font-uni{
    font-family: 'Uni Sans';
}

.font-monster{
    font-family: 'Monster Mech';
    letter-spacing: 1px;
    line-height: 1.1;
}

.font-monster::placeholder{
    font-family: 'Monster Mech';
    letter-spacing: 1px;
}

.Text-Gradient{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



html {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    overflow-x: hidden;
    font-family:  'Poppins', sans-serif;
}
  
html::-webkit-scrollbar {
    background: #3300BD;
    display: none; /* for Chrome, Safari, and Opera */
}

.onhp{
    background: #3300BD;
    height:100lvh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    overflow: clip;
    margin: 0;
}

.fadeinonload{
    animation-name: FadeIn;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forward;	
}

.rotateinOnLoad1{
    transform-origin: center;
    transform-box: fill-box;
    animation-name: rotIn1;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forward;
}
.rotateinOnLoad2{
    transform-origin: center;
    transform-box: fill-box;
    animation-name: rotIn2;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forward;
}
.rotateinOnLoad3{
    transform-origin: center;
    transform-box: fill-box;
    animation-name: rotIn3;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forward;
}
.rotateinOnLoad4{
    transform-origin: center;
    transform-box: fill-box;
    animation-name: rotIn4;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forward;
}



@keyframes FadeIn {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes rotIn1 {
    0%{
        transform: rotate(-100deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotIn2 {
    0%{
        transform: rotate(200deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotIn3 {
    0%{
        transform: rotate(-500deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotIn4 {
    0%{
        transform: rotate(400deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.hide{
        animation: hideAnim 250ms forwards ease-in-out;
}

.show{
    animation: 250ms ease-out 0s 1 showAnim;
}

body{
 background-color: #3300bd;
}

@keyframes  hideAnim{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.fadeOut{
        animation: fadeOutAnim 0.5s forwards ease;
        pointer-events: none;
    }

    @keyframes fadeOutAnim{
        0%{
            opacity: 100%;
        }
        100%{
            opacity: 0;
        } 
    }

@keyframes  showAnim{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}


.backgroundpan {
    background-size: 200%;
    animation: backgroundpanAnim 1500ms linear infinite;
}

@keyframes backgroundpanAnim{
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
}

.slowRotateClockwise{
    transform-origin: center;
    transform-box: fill-box;
    animation:clockwiserotateslow 40000ms linear infinite

}


.slowerRotateClockwise{
    transform-origin: center;
    transform-box: fill-box;
    animation:clockwiserotateslow 60000ms linear infinite

}

@keyframes clockwiserotateslow{
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg);
    }
    100%{
        transform:rotate(360deg)
    }
}

.slowRotateAntiClockwise{
    transform-origin: center;
    transform-box: fill-box;
    animation:anticlockwiserotateslow 60000ms linear infinite

}

.slowerRotateAntiClockwise{
    transform-origin: center;
    transform-box: fill-box;
    animation:anticlockwiserotateslow 80000ms linear infinite

}

@keyframes anticlockwiserotateslow{
    0%{
        transform:rotate(-0deg);
    }
    50%{
        transform:rotate(-180deg);
    }
    100%{
        transform:rotate(-360deg)
    }
}

.wavy{
        height: 2px;
        width: 2px;
        z-index: -1;
        

    }

    .waves div{
        position: relative;
        animation: wave 5s infinite;
        animation-timing-function: ease-in-out;
        animation-delay: calc(var(--i)*100ms);
    }
   
    @keyframes wave{
        0%{
            transform: translateY(0vw);
            background-color: rgb(241, 123, 45);

            
        }
        50%{
            transform: translateY(-30vw);
            background-color: rgb(68, 211, 227);
        }
        100%{
            transform: translateY(0vw);
            background-color: rgb(241, 123, 45);
        }
    }
    

    .bg-anim{
	background: linear-gradient(-45deg, #1a0903,  #18042c, #2e0c19, #16031f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* ------------------------ FALAK CSS (NEW) ------------------------ */
.blurinmenubkd{
    animation-name: blurin;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.menumoveinleft{
    animation-name: moveinfromleft;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}


.menumoveoutleft{
    animation-name: moveoutfromleft;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.bluroutmenubkd{
    animation-name: blurout;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
@keyframes blurin {
    0%{
        backdrop-filter: blur(0px);
    }
    100%{
        backdrop-filter: blur(12px);
    }
}

@keyframes blurout {
    100%{
        backdrop-filter: blur(0px);
    }
    0%{
        backdrop-filter: blur(12px);
    }
}

@keyframes moveinfromleft{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes moveoutfromleft{
    100%{
        transform: translateX(-100%);
    }

    0%{
        transform: translateX(0%);
    }
}

.sportsecard{
    /* 0EBAAA */
    background-color: #0B9588;
}
.esportsecard{
    /* ED008C */
    background-color: #be0070;
}
.culturalecard{
    /* 1095FF */
    background-color: #0D77CC;
}
.featuredecard{
    /* FE786F */
    background-color: #D76860;

}



.sportshdg{
    /* 0EBAAA */
    color: #0EBAAA;
}
.esportshdg{
    /* ED008C */
    color: #ED008C;
}
.culturalhdg{
    /* 1095FF */
    color: #1095FF;
}
.featuredhdg{
    /* FE786F */
    color: #FE786F;

}

.md-converter a {
    text-decoration-line: underline;
    font-family: 'Uni Sans';
    color: aqua;
}   

.md-converter img {
   max-width: 500px;
   width: 90%;
   margin-top: 5px;
}  

    .Volcano{
        background-image: url("https://falak.mitblrfest.in/imgs/2846339.svg");
        background-repeat: no-repeat;
        position: fixed;
        background-size:cover;
        transition-property: all;
        transition-duration: 2000ms;
    }
  
    .VolcanoDuringAnims{

    }



  @media all and (orientation: portrait) {
    .VolcanoDuringAnims {
        height: 400vh;
        width: 600vh;
    }
  }
  @media all and (orientation: landscape) {
    .VolcanoDuringAnims {
        height: 400vw;
        width: 600vw;
    }
  }
  #Surge{
    position : absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #Cablecar{
    position: absolute;
    height: 150px;
    animation-fill-mode: forwards;
  }
  @keyframes move1{
    0%{
      offset-distance: 0%;
    }
    100%{
      offset-distance: 45%;
      
    }
  }
  .animation1{
    animation: move1 4s 1;
}
.animation2{
    animation: move2 4s 1;
}
.animation3{
    animation: move3 4s 1;
}
.animationFade{
    animation: FadeIn 4s 1;
    background-color:rgb(28, 0, 94,0.2);
    backdrop-filter: blur(12px);
}
.animationFade2{
    animation: FadeIn 4s 1;
}

  @keyframes move2{
    0%{
      offset-distance: 45%;
    }
    100%{
      offset-distance: 75%;
      
    }
  }
  @keyframes move3{
    0%{
      offset-distance: 75%;
    }
    100%{
      offset-distance: 100%;
      
    }
  }

  @keyframes zoomIn{
    0%{
        transform: translate(0,0) scale(1);
    }
    100%{
        transform: translate(calc(calc((3.5* 100vw)/750)*200),calc(calc((0.75* 100vw)/500)*100) ) scale(4);
        /* transform: translate(calc(calc(())),calc(calc((0.75* 100vw)/500)*100) ) scale(4); */
    }
  }
    

  .zoomedInMountain{
    animation: zoomIn 3s forwards;
  }

  .surgeLogoActive{
    animation: fadeInAnimation 3s;
  }
.surgeLogo{
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    height: 500px;
    width:500px;
}
@keyframes moveLogoBottomRight {
    0% {
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        height: 500px;
        width: 500px;
        margin: 0px;
    }
    100% {
        bottom: 0;
        right: 0;
        transform: translate(0, 25%);
        height: 200px;
        width: 200px;
        margin: 5px;
     }
}
@keyframes Fadein{
    0%{
        opacity: 0;
        backdrop-filter: blur(12px);
    }
    100%{
        opacity: 100%;
        backdrop-filter: blur(12px);
    }
}
  .surgeLogoInactive{
    animation: moveLogoBottomRight 3s forwards;
    height: 100px;
    
  }

  
  
  .popout {
	font-weight: 900;

}
@keyframes ani {
	0% {
		transform: translate3d(0, 0, 0);
		text-shadow: 0em 0em 0 #fe786f;
		color: black;
	}
	30% {
		transform: translate3d(0, 0, 0);
		text-shadow: 0em 0em 0 #fe786f;
		color: black;
	}
	70% {
		transform: translate3d(0.08em, -0.08em, 0);
		text-shadow: -0.08em 0.08em #fe786f;
		color: black;
	}
	100% {
		transform: translate3d(0.08em, -0.08em, 0);
		text-shadow: -0.08em 0.08em #fe786f;
		color: black;
	}
}
.popout span {
	position: relative;
	display: inline-block;
	animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.popout span:nth-last-child(1n) {
	animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
	animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
	animation-delay: -0.5s;
}

@keyframes bounce2 {
    0%, 100% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
    50% {
        
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
}
.animate-bounce2 {
    animation: bounce2 1s infinite;
}